<div class="row animate__animated animate__fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               
                <input type="text"
                class="form-control"
                placeholder="Buscar Medico"
                #txttermino
                (keyup)="BuscarMedico(txttermino.value)" 
                />
            </div>
        </div>
    </div>
</div>


<div class="row animate__animated animate__fadeIn"
*ngIf="cargando"
>
    <div class="col-12">

      <div class="alert alert-info text-center" role="alert">
        <h4 class="alert-heading">Cargando</h4>
       <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0"> Porfavor espere</p>
      </div>
    </div>
</div>

<div class="row"
*ngIf="!cargando"
>

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medicos ({{medicos.length}})</h4>
                        <h6 class="card-subtitle">
                            Medicos Registrados en la Aplicacion  
                        </h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a 
                        routerLink="/dashboard/medico/nuevo"
                            class="btn btn-primary">
                                <i class="fa fa-hospital-o"></i>
                                Crear Medico
                             </a>
                        </div>
                    </div>              
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class=" w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">

                                <td>
                                    <img 
                                    class="w100 cursor-pointer"  
                                    [src]="medico.img | imagen:'medicos' " 
                                    [alt]="medico.nombre"
                                    (click)="abrirModal(medico)"
                                    >
                                </td>
                                <td>{{medico.nombre}}</td>
                               
                                <td class="text-nowrap text-center">
                                    <a 
                                    [routerLink]="['/dashboard/medico',medico._id]"
                                    class="cursor-pointer" 
                                    data-toggle="tooltip" 
                                    data-original-title="Editar"> 
                                    <i class="far fa-edit" style="color: blue;"></i>
                                </a>
                                    &nbsp;
                                    <a 
                                    (click)="BorrarMedicos(medico)"
                                    class="cursor-pointer" 
                                    data-toggle="tooltip" 
                                    data-original-title="Borrar"> 
                                    <i class="far fa-trash-alt" style="color: red;">
                                    </i></a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

                <!-- <button class="btn btn-primary">Anterior</button>
                 &nbsp;
                <button class="btn btn-primary">Siguiente</button> -->

            </div>
        </div>
    </div>
</div>